{% extends "cryptoapp/base.html" %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    {% block styles %}
        {{ block.super }}
        <link rel="stylesheet" type="text/css" href="{% static 'cryptoapp/css/login.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'cryptoapp/css/button.css' %}">
    {% endblock %}
</head>
<body>
    {% block content %}
    <div class="login">
        <div class="form">
            <h2>Welcome</h2>
            <form method="post">
                {% csrf_token %}
                <input type="text" placeholder="Username" name="username">
                <input type="password" placeholder="Password" name="password">
                <input type="submit" value="Log In" class="submit">
            </form>
            <div class="error">
                {% for error in form.non_field_errors %}
                    <p class="error">{{ error }}</p>
                {% endfor %}
            </div>
        </div>
        <a href="{% url 'analyze_crypto' %}" class="bbotre">На главную</a>
    </div>
    {% endblock %}
</body>
</html>
